---
layout: default
---

<h1 class="ui centered header">Blog</h1>

<div class="ui two stackable cards">
    {% for post in site.posts %}
    {% if post.title %}
    <a href="{{ post.url | prepend: site.baseurl }}" class="ui card">
        <div class="content">
            <div class="header">{{ post.title }}</div>
            <div class="meta">{{ post.date | date: "%B %-d, %Y" }}</div>
            <div class="description">{{ post.excerpt }}</div>
        </div>
    </a>
    {% endif %}
    {% endfor %}
</div>

