---
layout: default
title: SimBioSys Lab
---

<div class="ui padded segment" style="font-size: 16px;" >
  The <strong>Emory Lab for Computational Systems and their Biologial Connections (SimBioSys)</strong> is a partnership of researchers studying algorithms and <strong>sim</strong>ulations in the domains and intersections of <strong>bio</strong>logical application and networked <strong>sys</strong>tems.
Our projects span <a href="smart-cache/">smarter caches</a>, <a href="cdr/">computational epidemiology</a>, storage system analysis, <a href="https://adversary.io">computer security</a>, wireless mesh network optimization, biologically plausible neural networks and the theory of learning.<br>

The Principal Investigators of SimBioSys are Profs. <a href="http://www.mathcs.emory.edu/~avani">Avani Wildani</a> and <a href="http://www.ymsir.com/">Ymir Vigfusson</a> from the <a href="http://csi.mathcs.emory.edu/">Emory CSI</a> program.  

</div>

<div class="ui four centered doubling cards">
  {% for advisor in site.advisors %}
  <a href="{{ advisor.website }}" class="fluid card">
    <div class="image">
      <img src="{{ advisor.photo }}">
    </div>
    <div class="content">
      <div class="header">{{ advisor.name }}</div>
    </div>
  </a>
  {% endfor %}
</div>

<div class="ui five centered doubling cards">
  {% for member in site.members %}
  <a href="{{ member.website }}" class="fluid card">
    <div class="image">
      <img src="{{ member.photo }}">
    </div>
    <div class="content">
      <div class="header">{{ member.name }}</div>
      {% if member.meta %}<div class="meta">{{ member.meta }}</div>{% endif %}
    </div>
  </a>
  {% endfor %}
</div>
