<div class="ui inverted vertical footer segment">
  <div class="ui center aligned container">
    <div class="ui horizontal inverted small divided link list">
      {% if site.github_username %}
      <a href="https://github.com/{{ site.github_username }}" class="item"><i class="github icon"></i> {{ site.github_username }}</a>
      {% endif %}
      {% if site.twitter_username %}
      <a href="https://twitter.com/{{ site.twitter_username }}" class="item"><i class="twitter icon"></i> {{ site.twitter_username }}</a>
      {% endif %}
      {% if site.email %}
      <a href="mailto:{{ site.email }}" class="item"><i class="mail icon"></i> {{ site.email }}</a>
      {% endif %}
      <a href="/calendar" class="item"><i class="calendar icon"></i> Calendar</a>
      <a href="/feed.xml" class="item"><i class="rss icon"></i> Feed</a>
    </div>
  </div>
</div>
