<div class="ui fixed inverted menu">
    <div class="ui container">
        <a href="{{ site.baseurl }}/" class="header item">
            {{ site.title }}
        </a>
        <a href="/index"                class="ui simple dropdown item">Home                    </a>
        <a href="/people"               class="ui simple dropdown item">People                  </a>
        <a href="/projects"             class="ui simple dropdown item">Projects                </a>
        <a href="/publications"         class="ui simple dropdown item">Publications            </a>
        <a href="/partners"             class="ui simple dropdown item">Partners                </a>
        <a href="/prospectiveStudent"   class="ui simple dropdown item">Prospective Student     </a>
    </div>
</div>
