<div class="ui fixed inverted menu">
    <div class="ui container">
        <a href="{{ site.baseurl }}/" class="header item" style="font-size: 24px">
            {{ site.title }}
        </a>
        <a href="/index"                class="ui simple dropdown item" style="font-size: 16px;">Home                    </a>
        <a href="/people"               class="ui simple dropdown item" style="font-size: 16px;">People                  </a>
        <a href="/projects"             class="ui simple dropdown item" style="font-size: 16px;">Projects                </a>
        <a href="/publications"         class="ui simple dropdown item" style="font-size: 16px;">Publications            </a>
        <a href="/partners"             class="ui simple dropdown item" style="font-size: 16px;">Partners                </a>
        <a href="/prospectiveStudent"   class="ui simple dropdown item" style="font-size: 16px;">Prospective Student     </a>
    </div>
</div>
