<meta charset="utf-8" />
<meta name="viewport" content="width=device-width initial-scale=1" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />

<!-- Page meta (may not be actually useful) -->
{% if page.keywords %}<meta name="keywords" content="{{ page.keywords | join: ', ' }}"/>{% endif %}
{% if page.authors %}<meta name="author" content="{{ page.authors | join: ', ' }}"/>{% endif %}

<!-- Site info. -->
<link rel="icon" href="{{ "/favicon.ico" | prepend: site.baseurl }}" />
<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
<title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>

<!-- Loads some globally-useful Javascript libraries. -->
<script defer src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/3.16.3/math.min.js"></script>
<script defer async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML"></script>

<!-- Loads the Semantic UI components. -->
<link rel="stylesheet" href="{{ "/resources/design/semantic.min.css" | prepend: site.baseurl }}" />
<script defer type="text/javascript" src="{{ "/resources/design/semantic.min.js" | prepend: site.baseurl }}" ></script>
<link rel="stylesheet" href="{{ "/resources/design/main.css" | prepend: site.baseurl }}">
