<div class="ui segments">
    <div class="ui segment">
        <div class="ui fluid image">
            <img class="ui fluid image" src="{{ include.url1 }}">
        </div>
    </div>
    <div class="ui horizontal segments">
        <div class="ui segment">
            <div class="ui fluid image">
                <img src="{{ include.url2 }}">
            </div>
        </div>
        <div class="ui segment">
            <div class="ui fluid image">
                <img src="{{ include.url3 }}">
            </div>
        </div>
    </div>
    <div class="ui secondary segment">
        {{ include.description }}
    </div>
</div>

