figure.highlight {
  padding: 0;
  margin: 0 1em 1em 0;
  font-size: 90%;
}

/**
 * Code formatting
 */
.highlight pre, code, pre.highlight {
    font-size: 13px;
    border: 1px solid $grey-color-light;
    border-radius: 3px;
    background-color: #f7f7ff;
}

code {
    padding: 3px 5px;
}

.highlight pre, pre.highlight {
    padding: 8px 12px;
    overflow-x: auto;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}

/**
 * Footer
 */
.main.container {
  margin-top: 4em;
  margin-bottom: 3em;
}
.wireframe {
  margin-top: 2em;
}
.ui.inverted.menu {
  background-image: linear-gradient(120deg, #159957, #155799);
}
.ui.footer.segment {
  margin: 3em 0em 0em;
  padding: 2em 0em;
  background-image: linear-gradient(120deg, #155799, #159957);
}
