---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";


$base-font-family: Lato,'Helvetica Neue', "Open Sans", Arial,Helvetica,sans-serif; 
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.7em;

$spacing-unit:     30px;

$text-color:       #121;
$background-color: #fcfcfc;
$brand-color:      rgba(0, 0, 220, 0.8);

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$on-palm:          700px;
$on-laptop:        900px;



// Using media queries with like this:
// @include media-query($palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;



.ui.card>.content, .ui.cards>.card>.content {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    border: none;
    border-top: 1px solid rgba(34,36,38,.1);
    background: 0 0;
    margin: 0;
    padding: 1em;
    box-shadow: none;
    font-size: 16px;
    font-weight: bold;
    border-radius: 0;
}