<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
  </head>
  <body>
    {% include header.html %}

    <div class="ui main container">
      <br/>
      <h1 class="ui centered header">{{ page.title }}</h1>
      <h2 class="ui centered sub header">
        {{ page.date | date: "%B %-d, %Y" }}
        {% if page.authors %}
        | {{ page.authors | join: ", " }}
        {% endif %}
      </h2>
      <div class="ui hidden divider"></div>
      <div class="ui text container post">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}
  </body>
</html>
